@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=DM+Sans&family=Koulen&family=Nunito:wght@300&family=Raleway&family=Roboto:wght@900&display=swap');

h1 {
    font-size: 200%;
    color: brown;

}

body {
    margin: 50px;
    background-color: #f0cf99;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}
